<template>

    <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Top 10 Branches</div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Branch Name</th>
                                <th>Position</th>
                                <th>Total Points</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(branch, key) in topTenResult">
                                <td>{{branch.name}}</td>
                                <td>{{key+1}}</td>
                                <td>{{branch.total_sales}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

</template>

<script>
    export default {
        data() {
            return {
                topTenResult: [],
            }
        },
        mounted() {
            this.fetchTopTenResult();
        },
        methods: {
            fetchTopTenResult() {
                axios.get('/api/top-ten-branches')
                    .then(response => {
                        console.log(response.data);
                        this.topTenResult = response.data;
                    });
            }
        }

    }
</script>
