<template>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" title="Report on the basis of overall sales of overall branches">Two Weeks Progress Report</div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr class="highlight-bg">
                                <th></th>
                                <th>Total Sales</th>
                                <th>Total Expenses</th>
                                <th>Leads</th>
                                <th>Gross Profit</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="twoWeeksReport.lastweek">
                                <td class="highlight-bg">Last Week</td>
                                <td>{{twoWeeksReport.lastweek.total_sales.toFixed(2)}}</td>
                                <td>{{twoWeeksReport.lastweek.total_expenses.toFixed(2)}}</td>
                                <td>{{twoWeeksReport.lastweek.total_leads}}</td>
                                <td v-html="grossProfitLastWeek"></td>

                            </tr>
                            <tr v-if="twoWeeksReport.thisweek">
                                <td class="highlight-bg">This Week</td>
                                <td>{{twoWeeksReport.thisweek.total_sales.toFixed(2)}}</td>
                                <td>{{twoWeeksReport.thisweek.total_expenses.toFixed(2)}}</td>
                                <td>{{twoWeeksReport.thisweek.total_leads}}</td>
                                <td v-html="grossProfitThisWeek"></td>

                            </tr>
                            <tr class="final-results2">
                                <td></td>
                                <td v-html="makeComparison(twoWeeksReport.lastweek.total_sales, twoWeeksReport.thisweek.total_sales)"></td>
                                <td v-html="makeComparison(twoWeeksReport.lastweek.total_expenses, twoWeeksReport.thisweek.total_expenses)"></td>
                                <td v-html="makeComparison(twoWeeksReport.lastweek.total_leads, twoWeeksReport.thisweek.total_leads)"></td>
                                <td v-html="makeComparison(gpLastWeek,gpThisWeek)"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

</template>

<script>
    export default {
        name: 'TwoWeeksReport',
        data() {
            return {
                twoWeeksReport: [],
                gpThisWeek: 0,
                gpLastWeek: 0
            }
        },
        mounted() {
            this.fetchTwoWeeksReport();
        },
        computed: {
            grossProfitThisWeek() {
                let profit = this.twoWeeksReport.thisweek.total_sales - this.twoWeeksReport.thisweek.total_expenses ;
                this.gpThisWeek = profit;
                let colorClass = 'text-success';
                if (profit < 0)
                {
                    colorClass = 'text-danger';
                }
                return `<span class="${colorClass}">${profit}</span>`;
            },
            grossProfitLastWeek() {
                let profit = this.twoWeeksReport.lastweek.total_sales - this.twoWeeksReport.lastweek.total_expenses ;
                this.gpLastWeek = profit;
                let colorClass = 'text-success';
                if (profit < 0)
                {
                    colorClass = 'text-danger';
                }
                return `<span class="${colorClass}">${profit}</span>`;
            }
        },
        methods: {
            makeComparison(val1, val2) {
                let diff = parseFloat(val2) - parseFloat(val1);
                if(diff > 0)
                    return '<span class="text-success">&#8593;'+diff.toFixed(2)+'</span>';
                else {
                    return '<span class="text-danger">&#8595;'+diff.toFixed(2)+'</span>';
                }
            },
            fetchTwoWeeksReport() {
                axios.get('/api/two-weeks-report')
                    .then(response => {
                        console.log(response.data);
                        this.twoWeeksReport = response.data;
                    });
            }
        }

    }
</script>
<style scoped>
    .red {
        color: red;
    }
    .green {
        color: green;
    }
    .highlight-bg  {
        background-color: rgba(0, 0, 0, 0.03);
        font-weight: bold;
    }
    .final-results {
        background-color: red;
        font-size: 15px;
    }

    .final-results2 {
        background-color: #f1eaea;
    }
</style>
